body
{
	background-image:url('background.jpg');
	background-size:cover;
}

p
{
	text-align:center;
	font-size:3em;
	font-family: "Pixel";
	color:white;
	text-shadow:3px 3px 3px black;
}

div
{
	margin:auto;
	margin-top:298px;

}

@font-face {
	font-family: "Pixel";
	src: url("pixel-miners.otf");
}

strong
{
	color:red;
}

@keyframes pursuit 
{
	from {left:220px;}
	to {left:1400px;}
}

@keyframes flee
{
	from {left:220px;}
	to {left:1300px;}
}

#peach
{
	height:150px;
	position:relative;
	left:220px;
	animation-name:flee;
	animation-duration:2.6s;
	animation-iteration-count:infinite;
}

#bowser
{
	height:220px;
	position:relative;
	left:220px;
	animation-name:pursuit;
	animation-duration:3s;
	animation-iteration-count:infinite;
}

