@font-face
{
	font-family:"Kaushan";
	src:url("Expressa.ttf");
}

@font-face
{
	font-family:"Nobiler";
	src:url("Nobiler.ttf");
}

@font-face
{
	font-family:"AirAmerica";
	src:url("times.ttf");
}

@font-face
{
	font-family:"vampire";
	src:url("vampire.otf");
}

@font-face
{
	font-family:"bpreplay";
	src:url("bpreplay.otf")
}

body
{
	margin:0px;
}

#topPage
{
	height:100vh;
	display:flex;
	flex-direction:row;
}

/* =========================INDEX========================= */
aside
{
	width:25%;
	height:100vh;
	background-image:white;
	border-radius:0px 5px 5px 0px;
}

h1
{
	font-family:"Kaushan";
}

aside ul li
{
	font-family:"bpreplay";
}

aside h1
{
	color:#6ca2d1;
	margin-top:0px;
	padding-top:20px;
	text-align:center;
	font-size:2em;
	width:60%;
	margin:auto;
	border-bottom:1px solid #d18e32; 
	padding-bottom:5px;
}


aside ul
{
	margin-top:80px;
	padding-bottom:20px;
	list-style:none;
	margin-left:30px;
}

aside ul li
{
	font-size:2em;
	margin:50px;
	cursor:pointer;
}

aside ul li a
{
	text-decoration:none;
	color:black;
	border-bottom:1px solid #d18e32;
	transition:border 0.3s ease;
	
}

ul li a:hover
{
	border-bottom:3px solid #d18e32;
}

#bottomInfo
{
	margin-top:70px;
	width:100%;
	border-top:1px solid #6ca2d1;
}

#infoH1
{
	margin-bottom:20px;
}

#bottomInfo p
{
	width:80%;
	margin:auto;
	margin-top:20px;
	text-align:justify;
	font-family:"AirAmerica";
	font-size:1.3em;
}

#bottomInfo ul
{
	display:flex;
	flex-direction:row;
}

#bottomInfo ul li
{
	font-family:"Nobiler";
	font-size:1.2em;
	margin:15px;
	width:100px;
	position:relative;
	bottom:50px;
}

.airDroidImg
{
	margin-top:20px;
	width:80px;
	margin-bottom:-10px;
}


.soundcloudImg 
{
	margin-top:20px;
	width:50px;
}

.tedImg
{
	width:70px;
	margin-bottom:-10px;
	margin-top:10px;

}

#bottomInfo ul 
{
	width:80%;
	margin:auto;
	margin-top:70px;
	padding:0px;
}

#bottomInfo ul li a 
{
	font-family:"AirAmerica";
}

/*=========================IMG========================= */


#appliImg
{
	display:flex;
	flex-drection:row;
	justify-content:space-around;
	width:100%;
	background-image:url("https://www.ilovewallpaper.co.uk/images/zara-shimmer-metallic-wallpaper-soft-grey-silver-p4924-13185_image.jpg");
	background-size:cover;
}


/* ========================PAPER======================== */
.paper
{
	margin-top:100px;
	border-radius:8px;
	width:450px;
	height:70vh;
	background-color:white;
	transition:all 2s ease;
}

.paper center
{
	border-radius:6px 6px 0 0 ;
	background-color:#fc8200;
	height:220px;
}

.paper h1
{
	text-align:center;
	max-height:36px;
}

#soundCloud
{
	font-family:"bpreplay";
}

.paper h2
{
	font-size:1.2em;
	text-align:center;
	color:grey;
	margin-top:-20px;
}

.pZone
{
	width:80%;
	height:30%;
	margin:auto;
	border-bottom:1px solid #d18e32;
}

.paper p
{
	text-align:justify;
}


.icon img
{
	width:100%;
	margin:auto;
}

.social
{
	display:flex;
	flex-direction:row;
	width:80%;
	margin:auto;
	justify-content:space-between;
}

.learnMore
{
	border:1px solid #ffc054;
	transition:background 1s ease;
	float:right;
	margin:-5px 50px 0px 0px;
	padding:5px;
	border-radius:5px;
}

.learnMore a
{
	text-decoration:none;
	color:black;
}

.learnMore:hover
{
	background-color:#ffc054;
}

#tedxFont
{
	font-family:"vampire";
}

#airDroidFont
{
	font-family:"Kaushan";
}

#soundCloudFont
{
	font-family:"bpreplay";
}

#tedX h1
{
	font-family:"vampire";
}

.fbLink
{
	width:100px;
}

.ytLink
{
	width:150px;
	margin-top:-20px;
}

.ofLink
{
	width:100px;
}

#ofAirDroid
{
	margin-bottom:15px;
}

#soundCloudLink
{
	width:60px;
	margin-top:10px;
	margin-bottom:20px;
}

.dlLink
{
	width:60px;
	margin-top:10px;
}

.red
{
	color:red;
}

.green
{
	color:#80ea2e;
}

.orange
{
	color:orange;
}

/* =============================PAPER IMG============================= */

#tedIcon
{
	width:220px;
}

#airDroidIcon
{
	width:220px;
	margin-top:20px;
}

#soundCloudIcon
{
	width:180px;
	margin-top:25px;
}